/*
/*/
/*/*/
!.zshrc
!.gitignore
!/Pictures/
Pictures/tmp
!Pictures/wall/
!.config/
.config/*

!.config/ranger/
.config/ranger/__pycache__
!.config/neofetch/


!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim

.config/lazygit/*
!.config/lazygit/config.yaml
