/*
/*/
/*/*/
!.zshrc
!.gitignore
!/Pictures/
Pictures/tmp
!Pictures/wall/
!.config/
.config/*

!.config/ranger/
!.config/neofetch/

!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim

!.config/lazygit/
